/*Decreases left padding on image*/
.team-details-mobile .pos-top.pos-center.align_left.column_parent.col-lg-4.desktop-hidden.tablet-hidden.col-sm-33.single-internal-gutter {
    padding-left: 0px;
}
/*Decreases font size on mobile for job title*/
.team-details-mobile .heading-text.el-text.rd-subtitle-team {
    margin-top: 9px!important;
}

/*Reduces padding on top in first paragraph QUESTIONABLE*/
/*.single-block-padding {*/
/*    padding: 18px 36px 36px 36px;*/
/*}*/

/*@media only screen and (max-width: 700px) {*/
/* Image Size on Mobile */
/*.tmb-content-size-4.tmb-content-lateral.tmb > .t-inside .t-entry-visual {*/
/*    height: 125px !important;*/
/*    width: 31.333333% !important;*/
/*}*/
/*}*/


/*Styles employee name*/
.rd-employee-title h1 {
    font-size: 17px!important;
    line-height: 1em!important;
}

/*Styles job title*/
.rd-subtitle-team h2 {
    font-size: 13px!important;
    font-style: italic;
    color: #777777;
    line-height: 1em!important;
}
