*.log
knottlab.dev/wp-config.php
knottlab.dev/wp-content/advanced-cache.php
knottlab.dev/wp-content/backup-db/
knottlab.dev/wp-content/backups/
knottlab.dev/wp-content/blogs.dir/
knottlab.dev/wp-content/cache/
knottlab.dev/wp-content/upgrade/
knottlab.dev/wp-content/uploads/
knottlab.dev/wp-content/wp-cache-config.php
knottlab.dev/wp-content/plugins/hello.php

knottlab.dev/.htaccess
knottlab.dev/license.txt
knottlab.dev/readme.html
knottlab.dev/sitemap.xml
knottlab.dev/sitemap.xml.gz

.DS_Store
