/*################################################### FOOTER AREA ###*/

/*Removes space between logo and content in widget area 1*/
aside#custom_html-3 {
    margin: 0px;
}

p.rd-footer1 {
    margin-top: 13px!important;
}

aside#media_image-3 {
    width: 50%;
    margin-bottom: -8px;
}

/*Decreases width of logo*/
aside#media_image-2 {
    width: 50%;
}

/* Footer Height (Copyright area) */

footer .footer-center {
    padding-top: 31px;
    padding-bottom: 31px;
}

/* Remove Margin from above busines hrs in footer */
.rd-thtd {
    padding: 0px 0px 8px 0px!important;
    border: none!important;
}

/*Text Style for day of the week highlight in footer*/

.today {
  color: #00a7e1 !important;
  font-weight: 900!important;
  letter-spacing: .02em;
  text-transform: uppercase!important;
  /* padding-top: 0px!important; */
}

/*Styles title in footer contact info table*/
th.rd-thtd {
    /* color: #f00; */
    color: #ffbe00 !important;
    font-weight: 800!important;
    letter-spacing: .02em;
    text-transform: uppercase!important;
    font-family: 'open sans';
    font-size: 13px!important;
}

/*Reduces margin below widget title*/
h3.widget-title {
    margin-bottom: 13px!important;
}
/*Padding between title & value in contact info*/
.rd-thtd {
    padding: 0px 8px 8px 0px!important;
    border: none!important;
}

a.rd-footer {
    display: inline-block;
    /*padding: 0px 0px 5px 0px;*/
    font-weight: 800!important;
    letter-spacing: .02em;
    text-transform: uppercase!important;
    font-family: 'open sans';
    font-size: 12px!important;
    /*color: #ffbe00 ;*/
}
