/* ========================================================================================== */

/* ******************** RD ***
TEXT STYLES
*********************** RD ***/

/* Text Style for H1-H6 */

H1, H2, H3, H4, H5, H6 {
  letter-spacing: -0.02em;
  /*line-height: 1.2!important;*/
  /*font-weight: 300!important;*/
  /*font-family: 'SF-Pro-Display', Roboto, sans-serif;*/
  /*font-size: 34px, 28px, 22px, 19px, 17px, 15px (H1-H6);*/
}

/* Text Style for Leading class beneath headings (leading = on) */

.text-lead, .text-lead>* {
  font-size: 16px;
  line-height: 1.5em!important;
  margin: 3px 0px 0px 0px;
  font-weight: 500;
  font-style: italic;
}

/* Text Style for Paragraph class (p) */

p {
  line-height: 1.5!important;
  /*font-weight: 400!important;*/
  /*font-family: 'SF-Pro-Display', Roboto, sans-serif;*/
  /*font-size: 14px, 18px (if leading);*/
}

/* Text Style for intro paragraph on singles*/

.rd-page-lead p {
  font-size: 20px;
  font-style: italic;
}

/* Text Style for Blockquote class (blockquote) */

blockquote {
  font-size: 25px;
  font-weight: 300;
  font-style: italic;
  color: #00a7e1;
  margin: 27px 0px 27px 0px;
  padding: 0px 0px 0px 27px;
  border-left: none;
}

/* ========================================================================================== */

/* ******************** RD ***
FOOTER: DATE HIGHLIGHT
*********************** RD ***
/* Text Style for day of the week highlight in footer */

.today {
  color: #00a7e1!important;
  font-weight: 900!important;
  letter-spacing: .02em;
  text-transform: uppercase!important;
  /* padding-top: 0px!important; */
}

/* ========================================================================================== */

/* ******************** RD ***
TEAM MEMBER INDEX
*********************** RD ***

  Custom Fields
  ----------------------------------------
  * Job Title: .t-entry-cf-detail-521378
  * Phone: .t-entry-cf-detail-110456
  * Email: .t-entry-cf-detail-142935


*********************** RD ***/

/* Job Title (INDEX SUBTITLE)*/
.t-entry-cf-detail-521378 {
    font-weight: 500;
    color: #777777;
    font-style: italic;
    margin: 3px 0px 3px 0px!important;
}

/* Excerpt */
.t-entry-excerpt {
  padding-bottom: 18px!important;
}

/* Phone Number */
/*.t-entry-cf-detail-110456::before {*/
/*  content: "Phone: ";*/
/*  color: #777777;*/
/*  font-weight: 500;*/
/*  font-size: 15px;*/
/*  font-style: italic;*/
/*}*/

.t-entry-cf-detail-110456 {
  font-weight: 500;
  font-size: 15px;
  color: #1f243f;
  margin-top: 2px!important;
  display: inline;
}

/* Email address */
/*.t-entry-cf-detail-142935::before {*/
/*  content: "Email: ";*/
/*  color: #777777;*/
/*  font-weight: 500;*/
/*  font-size: 15px;*/
/*  font-style: italic;*/
/*}*/

.t-entry-cf-detail-142935 {
  font-weight: 500;
  font-size: 15px;
  color: #1f243f;
  display: inline;
  padding-left: 10px!important;
}

/* ========================================================================================== */
/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .t-entry-excerpt {
      display:none;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .t-entry-excerpt {
      display:none;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .t-entry-excerpt {
      display:none;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .t-entry-excerpt {
      display:none;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}
