/* START Styling for Mobile (photo, info, header area) */
.rd-details-box span, .rd-details-box a {
    font-size: 13px!important;
}
.rd-details-box {
     margin: 0 0 0 0;
     padding-top: 25px;
}
.row.col-half-gutter.limit-width.row-parent {
    padding-left: 52px;
}
.row.double-top-padding.double-bottom-padding.no-h-padding.limit-width.row-parent {
    padding-top: 0;
}
.pos-top.pos-center.align_left.column_parent.col-lg-9.col-sm-clear.double-internal-gutter.z_index_2 {
    padding-top: 0;
}
.row.col-half-gutter.limit-width.row-parent {
    padding-bottom: 20px;
}
.pos-top.pos-center.align_left.column_parent.col-lg-8.desktop-hidden.tablet-hidden.col-sm-66.half-internal-gutter {
    padding: 10px;
}
/* END Styling for Mobile (photo, info, header area) */
