/* iPhone5  568x320 */
/*Portrait*/
/*problems*/


@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
  span.rd-detail-label {
      padding-right: 20px;
  }
  .wpb_wrapper {
      padding-left: 25px;
      padding-top: 10px;
  }
}

/* ------------------------------------ */

/*iPhone6 375x667*/
/*Portrait*/
/*OK*/

/*Lanscape*/
/*problems*/

/* ------------------------------------ */

/*iPad 1024x768*/
/*Portrait*/
/* problems see screen shot */

/*Lanscape*/
.row.double-top-padding.double-bottom-padding.no-h-padding.limit-width.row-parent {
    padding: 100px;
}

/* ------------------------------------ */
